 /* <---------------MENU DE NAVEGACION------------------>*/
 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
 *{
     padding: 0;
     margin: 0;
     text-decoration: none;
     list-style: none;
 }
 a, li{
     font-family: 'Roboto', sans-serif;
     color: #fff;
 }
 
 .logo-header img{
     width: 100px;
 }
 header{
     background-color: #222;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: .5rem 2rem;
 }
.nav-menu ul{
    display: flex;
    align-items: center;
}
.nav-menu li{
    margin-right: 2.5rem;
}
.nav-menu a:hover{
    color:#4ad295 ;
}
.nav-menu li:last-child{
    background-color: #4ad295;
    border: 2px solid #4ad295;
    padding: .25rem .75rem;
    border-radius: .2rem;
}
.nav-menu li:last-child{
    background: transparent;
    border: 2px solid #4ad295;
}
.menu-icon img{
    width: 50px;
    height: 50px;
    border-radius: 2px ;
}
.menu-icon, #check{
    display: none;
}
@media (max-width:768px){
    .checkbtn{
        display: block;
    }
    .menu-icon{
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }
    .nav-menu ul{
        display: block;
        position: fixed;
        top: 70px;
        left: -100%;
        background: #222;
        width: 100%;
        height: 100vh;
        right: 0;
    }
    .nav-menu ul li{
        padding: 2rem;
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .nav-menu ul li:last-child{
       background: none;
        padding: 1rem;
    }
    #check:checked ~ ul{
        left: 0;
        transition: all ,25s
    }
}
 /*
 .menu{
	list-style: none;
	padding: 0;
	background: #0a113c;
	width: 90%;
	max-width: 10000px;
	margin: auto;
}

.menu li a{
	text-decoration: none;
	color: white;
	padding: 30px;
	display: block;
}

.menu li{
	display: inline-block;
	text-align: center;
}

.menu li a:hover{
	background: #ef8354;
}
 /* <---------------Body------------------>*/
 :root {
    --color-secondary: #06f502;
 }
 body {
    background: #b92b27; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b92b27, #1565c0); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b92b27, #1565c0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.contenedor{
    width: 90%;
    max-width: 100px;
    margin: 20px auto;
    
}

h1{
    padding: 20px 0;
    color: #f73d50;
    font-size: 6em;
    text-align: center;
}
div{
    color: #EC994B ;
    font-size: x-large;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translateX(-50) translateY(-50);
}
/* <----------------Skills------------------>*/

/* <----------------Contact------------------>*/
#ubicacion{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 20px;
}

.cont-ubicacion{
    width: 49%;
    height: 120px;
    border-radius: 8pxcon;
}
form {
	margin: 2rem;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #eeeeee;
	padding: 6rem 10rem;
	border-radius: 1rem;
}

form h2 {
	text-align: center;
}

button {
	background-color: #e40e0e;
	border: none;
	color: #eeeeee;
	padding: 1rem 1.5rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1.2em;
	border-radius: 2rem;
}

button:hover {
	background-color: #1b1a17;
}

button:active {
	background-color: #f0a500;
	color: #1b1a17;
}
/*<---------------------------SKILLS--------------------->*/

.about-stats {
    padding-bottom: 4rem;
  }
  .about-stats .progress-bars {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
  .about-stats .progress-bars .progress-bar {
    display: flex;
    flex-direction: column;
  }
  .about-stats .progress-bars .progress-bar .prog-title {
    text-transform: uppercase;
    font-weight: 500;
  }
  .about-stats .progress-bars .progress-bar .progress-con {
    display: flex;
    align-items: center;
  }
  .about-stats .progress-bars .progress-bar .progress-con .prog-text {
    color: var(--color-grey-2);
  }
  .about-stats .progress-bars .progress-bar .progress-con .progress {
    width: 100%;
    height: 0.45rem;
    background-color: var(--color-grey-4);
    margin-left: 1rem;
    position: relative;
  }
  .about-stats .progress-bars .progress-bar .progress-con .progress span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--color-secondary);
    transition: all 0.4s ease-in-out;
    width: 60%;
  }
  .about-stats .progress-bars .progress-bar .progress-con .progress .html {
    width: 80%;
  }
  .about-stats .progress-bars .progress-bar .progress-con .progress .css {
    width: 95%;
  }
  .about-stats .progress-bars .progress-bar .progress-con .progress .js {
    width: 75%;
  }
  .about-stats .progress-bars .progress-bar .progress-con .progress .react {
    width: 60%;
  }
  .about-stats .progress-bars .progress-bar .progress-con .progress .node {
    width: 87%;
  }
  .about-stats .progress-bars .progress-bar .progress-con .progress .python {
    width: 70%;
  }
  
 /* <---------------FOOTER------------------>*/
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.pie-pagina{
    width: 100%;
    background-color: #25435c;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: auto;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 100px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
.pie-pagina{
    bottom: 0;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}